*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: "Montserrat", sans-serif; /*primary font choice */
  --ff-secondary: "Oswald", sans-serif; /*secondary font choice */

  --fw-reg: 300; /*font weights */
  --fw-bold: 900;

  --clr-light: #fff1e6; /*font colors */
  --clr-dark: #403d39;
  --clr-accent: #17c3b2;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  /* for mobile devices */
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Style Page */
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

section {
  padding: 5em 2em;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  /*for when you tab */
  outline: 3px solid #05668d;
  outline-offset: 3px;
}

/* Button */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--fs-body);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  font-family: var(--ff-secondary);
  border-radius: 10%;
}

.btn:hover {
  /* makes button larger on hover*/
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Sections */
.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--about,
.section__subtitle--intro {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle-work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Introduction Section */

.intro {
  position: relative;
  margin: auto;
  padding: 0 0 0 33%;
}

.intro__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  /*layout for mobile */
  .intro {
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    min-height: 150px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* my services */

.my-services {
  background-color: var(--clr-dark);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: ""; /*without content special css won't show */
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto 1em;
  background: var(--clr-light);
  background: var(--clr-accent);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .about-me {
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /*If you want to put in an image */
  /* .about-me__img {
      grid-row: 1 / -1;
      grid-column: 2;
  } */
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
